@import "variables.less";

.reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container() {
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;

  @media @tablet-width {
    min-width: 768px;
    max-width: 1000px;
  }

  @media @desktop-width {
    min-width: 1100px;
    max-width: 1300px;
  }
}

.container-fluid {
  width: auto;

  @media @tablet-width {
    width: 86.9%;
    max-width: 1050px;
    margin: 0 auto;
  }
}

.title() {

  @media @tablet-width {
    font-size: 40px;
    line-height: 50px;
  }

  @media @desktop-width {
    font-size: 50px;
    line-height: 57px;
  }
}

.container-padding() {
  padding-left: 9.3%;
  padding-right: 9.3%;

  @media @tablet-width {
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  @media @desktop-width {
    padding-left: 4.3%;
    padding-right: 4.3%;
  }
}

