@import "../mixins.less";

.about__wrap {
  .container();
  box-sizing: border-box;
   .container-padding();

   @media @desktop-width {
     padding-left: 19.5%;
   }
}

.about__items {
  .reset-list();
  .clearfix();
}

.about__items-wrapper {

  &:last-child {
    padding-bottom: 30px;
  }

  @media @tablet-width {
    float: left;
    width: 50%;

    &:last-child {
      padding-bottom: 0;
    }

    &:nth-child(even) {
      float: right;
    }
  }

  @media @desktop-width {
    width: 40%;

    &:nth-child(even) {
      float: left;
    }
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  .title();

  @media @tablet-width {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0;
  }

  @media @desktop-width {
    padding-top: 60px;
  }
}

.about__item {
  padding-bottom: 30px;

  h3 {
    margin: 0;
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;

    @media @tablet-width {
      font-size: 20px;
      padding-top: 55px;
    }
  }

  @media @tablet-width {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 0;

    &:last-of-type {
      margin-bottom: 80px;
    }

    & svg {
      position: absolute;
      top: 0;
      left:0;
    }
  }

}

.about__icon-feature-1 {
  padding-left: 8px;
}

.about__icon-feature-3 {
  padding-left: 7px;
}

.about__icon-feature-4 {
  padding-left: 3px;
}

.about__icon-feature-5 {
  margin-left: -6px;
}

.about__icon-feature-6 {
  padding-left: 3px;
}
