@import "../mixins.less";

.about__items {
  .reset-list();
}

.about__title {
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.about__item h3 {
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3px;
}
