@import "../variables.less";



.catalog__wrap {
  .container-fluid();
  .container-padding();
  box-sizing: border-box;
  padding-top: 30px;

  @media @tablet-width {
    padding-top: 68px;
    padding-left: 0;
    padding-right: 0;
  }

  @media @desktop-width {
    padding-top: 116px;
    padding-left: 0;
    padding-right: 0;
  }

  &--header {
    @media @desktop-width {
      padding-top: 97px;
    }
  }

  &--items {
    @media @desktop-width {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.catalog__header {
  background-color: @footer-bg;

  @media @mobile-width-only {
    position: relative;
    z-index: 1;
  }

  @media @tablet-width {
    position: relative;
    margin-top: -64px;
  }

  @media @desktop-width {
    margin-top: -70px;
  }

  &::before {

    @media @tablet-width {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      content: "";
      height: 25px;
      width: 100%;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 25px;
    }

    @media @desktop-width {
      height: 31px;
      background-size: auto 31px;
    }
  }
}

.catalog__header-title {
  .title();
  padding-top: 42px;
  padding-bottom: 77px;
  text-align: center;
  color: @main-header-title;
  font-family: Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;

  @media @tablet-width {
    padding-top: 30px;
    padding-bottom: 95px;
  }

  @media @desktop-width {
    padding-top: 0;
    padding-bottom: 112px;
  }
}

.catalog__items {
  @media @mobile-width-only {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
  }
}

.catalog__item-wrap {
  border: 1px solid #ededed;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;
  padding-right: 28px;

  @media @tablet-width {
    width: 277px;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media @desktop-width {
    width: auto;
  }

  &--video {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 33px;
    padding-right: 33px;

    @media @tablet-width {
      width: auto;
      justify-content: flex-start;
      align-items: center;
      padding-top: 33px;
      padding-bottom: 37px;
      border-bottom: none;
    }

    @media @desktop-width {
      flex-grow: 1;
      border-left: none;
      border-bottom: 1px solid @main-nav-border;

    }
  }

  &--video-descr {
    border-top: none;
    padding-left: 33px;
    padding-right: 33px;

    @media @tablet-width {
      padding-top: 0;
      padding-bottom: 45px;
      width: auto;
    }

    @media @desktop-width {
      position: absolute;
      top: 0;
      right: 0;
      width: 301px;
      border: none;
    }
  }

  &--responsive-height {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.catalog__item {
  padding-bottom: 30px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  line-height: 0;

  @media @tablet-width {
    display: flex;
    width: 668px;
    padding-bottom: 60px;
  }

  @media @desktop-width {
    flex-direction: column;
    justify-content: space-between;
    width: 315px;
    margin-left: 0;
    margin-right: 0;
  }

  &--video {
    @media @tablet-width {
      flex-direction: column;
    }

    @media @desktop-width {
      position: relative;
      flex-direction: row;
      flex-grow: 1;
      width: auto;
    }
  }
}

.catalog__item-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  color: @main-header-title;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;

  @media @tablet-width {
    font-size: 18px;
    padding-bottom: 13px;
  }

  &--video {
    width: 135px;
    padding-bottom: 0;

    @media @tablet-width {
      width: auto;
      padding-top: 3px;
      padding-left: 33px;
      padding-bottom: 0;
    }
  }
}

.catalog__item-descr {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 28px;
  color: @featured-desc;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;

  @media @tablet-width {
    font-size: 15px;
    padding-bottom: 15px;
  }

  @media @desktop-width {
    padding-bottom: 48px;
  }

  &--video {
    @media @tablet-width {
      padding-bottom: 40px;
    }

  }
}

.catalog__item-cost {
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;

  @media @tablet-width {
    font-size: 16px;
  }
}

.catalog__item-picture {
  margin: 0;
  width: 260px;
  height: 195px;

  @media @tablet-width {
    width: 334px;
    height: 334px;
  }

  @media @desktop-width {
    width: 316px;
    height: 462px;
  }

  img {

    @media @tablet-width {
      width: 334px;
      height: 334px;
    }

    @media @desktop-width {
      width: 316px;
      height: 462px;
    }
  }

}

.catalog__item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__item-basket {
  font-size: 0;
  line-height: 0;
}

.catalog__icon-basket {
  fill: #d3d2d2;
}

.catalog__item-video {
  position: relative;
  width: 260px;
  height: 150px;

  @media @tablet-width {
    order: -1;
    width: 668px;
    height: 455px;
  }

  @media @desktop-width {
    width: 682px;
    height: 455px;
  }
}

.catalog__icon-video {
  fill: @main-header;
}

.catalog__item-video-image {
  border: none;
}

.catalog__item-video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -42px;
  margin-left: -47px;
  width: 101px;
  height: 77px;
  font-size: 0;
  background-image: url("../../img/video-button.svg");
  background-repeat: no-repeat;
}

