
.contacts__wrap {
  .container();
  box-sizing: border-box;
  padding-left: 9.3%;
  padding-right: 9.3%;

  @media @tablet-width {
    padding-left: 6.5%;
    padding-right: 6.5%;

    &:last-child {
      padding-bottom: 55px;
    }
  }
}

.contacts__title {
  margin: 0;
  padding-bottom: 30px;
  padding-top: 12px;
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  .title();


  @media @tablet-width {
    padding-top: 65px;
  }
}

.contacts__informations {
  margin-bottom: 37px;

  @media @tablet-width {
    width: 100%;
    padding-bottom: 60px;
    margin-bottom: 0;
  }
}

.contacts__information {
  color: @featured-desc;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.contacts__informations-row {
  @media @tablet-width {
    float: left;
    width: 44.9%;
    margin-right: 5.2%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.contacts__information-option {
  padding-right: 10.5%;
  vertical-align: top;

  @media @tablet-width {
    display: inline-block;
    padding-right: 9%;
    font-size: 16px;
  }
}

.contacts__information-value {

  @media @tablet-width {
    display: inline-block;
    font-size: 16px;
  }

  &--email a:hover {
    color: @border-email;
  }

  &--email a:active {
    color: @border-email-lighter;
    border-color: @border-email-lighter;
  }

  &--email a {
    display: block;
    text-decoration: none;
    color: @featured-desc;
    border-bottom: 1px solid @border-email;
    transition: color 0.3s, border-color 0.3s;
  }


}

.contacts__map {
  height: 455px;
  margin-bottom: 40px;

  @media @tablet-width {
    margin-bottom: 55px;
  }
}
