@import "../variables.less";

.featured__wrap {
  .container();
  .clearfix();
  box-sizing: border-box;
  .container-padding();

  @media @tablet-width {
    position: relative;
  }
}

.featured__header {
  padding-top: 30px;
  padding-bottom: 27px;
  font-size: 0;

  @media @tablet-width {
    .clearfix();
    width: 100%;
    padding-top: 45px;
    padding-bottom: 55px;
  }

  @media @desktop-width {
    position: relative;
    padding-top: 125px;
    padding-bottom: 50px;
  }
}

.featured__name {
  margin-top: 0;
  margin-bottom: 5px;
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  .title();

  @media @tablet-width {
    display: inline-block;
    vertical-align: top;
    padding-right: 20.9%;
    margin-bottom: 0;
  }

  @media @desktop-width {
    display: block;
    width: 83.3%;
    padding-right: 0;
    padding-left: 16.7%;
  }
}

.featured__of-week {
  color: @main-header;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;

  @media @tablet-width {
    float: right;
    text-align: center;
    width: 10.1%;
    padding-right: 4.1%;
    padding-top: 13px;
  }

  @media @desktop-width {
    position: absolute;
    top: 127px;
    left: 4.5%;
    width: 6.6%;
    padding-right: 0;
  }
}

.featured__description {
  margin-top: 0;
  margin-bottom: 0;
  color: @featured-desc;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

  @media @tablet-width {
    display: inline-block;
    vertical-align: top;
    width: 285px;
    padding-bottom: 45px;
    padding-left: 3px;
  }

  @media @desktop-width {
    padding-left: 16.6%;
    padding-bottom: 55px;
    font-size: 16px;
  }
}

.featured__characteristics-list {
  width: 100%;
  margin-bottom: 28px;
  color: @featured-desc;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  border-collapse: collapse;
  outline: none;

  @media @tablet-width {
    width: 290px;
    margin-bottom: 50px;
    margin-left: 3px;
  }

  @media @desktop-width {
    margin-bottom: 105px;
    margin-left: 16.6%;
    font-size: 15px;
  }
}

.featured__characteristic-option {
  padding-right: 3.1%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid @main-nav-border;
}

.featured__characteristic-value {
  border-bottom: 1px solid @main-nav-border;
}

.featured__img {

  img {
    display: block;
    width: 260px;
    height: 315px;
    margin: 0 auto;

    @media @tablet-width {
      width: 303px;
      height: 404px;
    }

    @media @desktop-width {
      width: 525px;
      height: 636px;
    }
  }

  @media @tablet-width {
    position: absolute;
    top: 155px;
    right: 6.5%;
  }

  @media @desktop-width {
    top: 70px;
    right: 4.3%;
    z-index: -1;
  }
}

.featured__price {
  display: block;
  width: 140px;
  margin: 26px auto;
  color: @featured-desc;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;

  @media @tablet-width {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 73px;
  }

  @media @desktop-width {
    width: 160px;
    margin-left: 0;
    padding-left: 23%;
    font-size: 18px;
  }
}
