.main-header__background {
  background-image: url("../../img/hero-mobile@1x.jpg");
}

.main-header__item-interior {
  background-color: #63d1bb;
}

.main-header__item-interior span {
  background-image: url("../../img/icon-interior.svg");
}

