@import "../variables.less";
@import "../mixins.less";

.main-header {
  position: relative;
  z-index: 1;
  min-height: 505px;
  background-color: #ffffff;
}

.main-header__wrapper {
  .container();
}

.main-header__background {
  box-sizing: border-box;
  background: url("../../img/hero-mobile@2x.jpg") no-repeat 50% 50%;
  background-size: 180%;
  height: 300px;
  padding-top: 88px;
}

.main-header__title {
  width: 240px;
  margin: 0 auto;
  color: @main-header-title;
  font-family: Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.main-header__item-interior {
  background-color: @main-header;

  h3 {
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
  }

  span {
    background-image: url("../../img/icon-interior.svg");
  }
}

.main-header__item-toys {
  background-color: @main-header-darken;

  h3 {
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
  }

  span {
    background-image: url("../../img/icon-toy.svg");
  }
}

