@import "../variables.less";

.main-header__background {
  background-image: url("../../img/hero-mobile@1x.jpg");
}

.main-header__title {
  color: @main-header-title;
  font-family: Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.main-header__item-interior {
  background-color: @main-header;
}

.main-header__item-interior h3 {
  color: #ffffff;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.main-header__item-interior span {
  background-image: url("../../img/icon-interior.svg");
}

.main-header__item-toys {
  background-color: @main-header-darken;
}

.main-header__item-toys h3 {
  color: #ffffff;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.main-header__item-toys span {
  background-image: url("../../img/icon-toy.svg")
}

