@import "../mixins.less";

.main-nav {
  position: relative;

  &--opened {
    animation: show-menu 0.5s;
    animation-fill-mode: forwards;
  }

  &--closed {
    animation: hide-menu 0.5s;
    animation-fill-mode: forwards;
  }

  @media @tablet-width {
    float: left;
    position: static;
    width: 100%;
    background-color: #fafafa;
  }
}

.main-nav__wrap {

  @media @tablet-width {
    .clearfix();
  }
}

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 30px;
  cursor: pointer;
  width: 20px;
  height: 14px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0;
  background-color: #ffffff;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #000000;
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-of-type(2),
  span:nth-of-type(3) {
    top: 6px;
  }

  span:nth-of-type(4) {
    top: 12px;
  }

  &--opened span:nth-of-type(1),
  &--opened span:nth-of-type(4) {
    top: 6px;
    width: 0;
    left: 50%;
  }

  &--opened span:nth-of-type(2) {
    transform: rotate(45deg);
  }

  &--opened span:nth-of-type(3) {
    transform: rotate(-45deg);
  }

  @media @tablet-width {
    display: none;
  }

}

@keyframes show-menu {
  from {height: 0;}
  to {height: 324px;}
}

@keyframes hide-menu {
  from {height: 325px;}
  to {height: 0;}
}

.main-nav__items {
  .container();
  max-width: none;
  .reset-list();
  position: relative;
  z-index: 0;
  height: 0;

  @media @tablet-width {
    .clearfix();
    position: static;
  }
}

.main-nav__item {

    a {
    box-sizing: border-box;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 23.75%;
    display: inline-block;
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid @main-nav-border;
    transition: color 0.3s;

    @media @tablet-width {
      display: block;
      padding-top: 33px;
      padding-bottom: 33px;
    }
  }

  svg {
    transition: fill 0.3s;
  }

  @media @tablet-width {
    float: left;
  }

  &:hover {
    a {
      color: @nav-link-hover;
    }
  }

  &:active {
    a {
      color: @nav-link-active;
    }
  }

  &--search {
    position: relative;

    &:hover {

      svg {
        fill: @main-header;
      }
    }

    &:active {

      svg {
        fill: @green-light;
      }
    }

    @media @tablet-width {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 48.2%;
      width: 10.9%;
      border-right: 1px solid @main-nav-border;
    }

    a {

      @media @tablet-width {
        display: block;
        font-size: 0;
      }
    }
  }

  &--basket {
    position: relative;

    &:hover {

      svg {
        fill: @main-header;
      }
    }

    &:active {

      svg {
        fill: @green-light;
      }
    }

    @media @tablet-width {
      position: absolute;
      top: 0;
      left: 59.1%;
      width: 41%;
    }

    a {

      @media @tablet-width {
        box-sizing: border-box;
        display: block;
        padding-left: 23.75%;
      }
    }
  }

  &--catalog {

    @media @tablet-width {
      width: 26%;
    }

    @media @desktop-width {
      width: 20.8%;
      border-bottom: 1px solid @main-nav-border;
    }

    a {
      @media @tablet-width {
        padding: 0;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        border: none;
      }

      @media @desktop-width {
        padding-left: 20.8%;
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
  }

  &--knitwork {

    @media @tablet-width {
      width: 26%;
    }

    @media @desktop-width {
      width: 22.6%;
    }

    a {
      @media @tablet-width {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 18px;
        border: none;
      }
    }

  }

  &--delivery {
    display: none;

    @media @tablet-width {
      float: right;
      display: block;
      padding-top: 20px;
      padding-right: 7.4%;
      font-family: Verdana, Arial, sans-serif;
      font-size: 14px;
      line-height: 24px;
    }
  }

}

.main-nav__icon-search {
  position: absolute;
  top: 30px;
  left: 10%;
  fill: @icon-gray;

  @media @tablet-width {
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
  }
}

.main-nav__icon-basket {
  position: absolute;
  top: 31px;
  left: 10%;
  fill: @icon-gray;

  @media @tablet-width {
    top: 35px;
  }
}
