@import "../mixins.less";

.main-nav {
  position: relative;

  // &--closed .main-nav__items {
  //   transform: scale(0);
  //   transform-origin: top;
  //   transition: transform 0.5s;
  // }

  &--closed .main-nav__wrap {
    height: 0;
    transition: height 0.5s;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 30px;
  cursor: pointer;
  width: 20px;
  height: 14px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0;
  background-color: #ffffff;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #000000;
  }

  span:nth-of-type(2) {
    top: 6px;
  }

  span:nth-of-type(3) {
    top: 12px;
  }
}

@keyframes hide-menu {
  from {transform: translateY(0);}
  to {transform: translateY(-400px);}
}

.main-nav__wrap {
  min-height: 341px;
}

.main-nav__items {
  .reset-list();
  transform: scale(1);
}

.main-nav__item {

  &:first-child a {
    border-top: 1px solid @main-nav-border;
  }

  a {
    box-sizing: border-box;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 23.75%;
    display: inline-block;
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid @main-nav-border;
  }
}
