@import "../variables.less";

.order {
  padding-bottom: 60px;
  @media @mobile-width-only {
    position: relative;
    z-index: 1;
  }

  @media @tablet-width {
    margin-top: -64px;
  }

  @media @desktop-width {
    margin-top: -70px;
  }
}

.order__header {
  .container-fluid();
  box-sizing: border-box;
  background-color: @footer-bg;

  @media @tablet-width {
    position: relative;
    width: auto;
    max-width: 100%;
  }

  @media @desktop-width {
    width: 100%;
    max-width: 1150px;
  }

  &::before {

    @media @tablet-width {
      position: absolute;
      z-index: 3;
      bottom: -14px;
      left: 0;
      content: "";
      height: 25px;
      width: 100%;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 25px;
    }

    @media @desktop-width {
      height: 31px;
      background-size: auto 31px;
    }
  }
}

.order__title {
  .title();
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 75px;
  padding-bottom: 80px;
  text-align: center;
  color: @main-header-title;
  font-family: Verdana, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 31px;

  @media @tablet-width {
    padding-top: 98px;
    padding-bottom: 95px;
  }


}

.order__wrap {
  .container-fluid();
  .container-padding();
  box-sizing: border-box;
  padding-top: 30px;

  @media @mobile-width-only {
    background-color: #fff;
  }

  @media @tablet-width {
    width: 100%;
    padding-top: 67px;
    padding-left: 0;
    padding-right: 0;
  }

  @media @desktop-width {
    width: 100%;
    max-width: 1150px;
    padding-top: 125px;
    padding-left: 0;
    padding-right: 0;

  }
}

.order__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  color: @featured-desc;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

  @media @mobile-width-only {
    br {
      content:"";
    }
  }

  @media @tablet-width {
    padding-left: 6.55%;
    padding-right: 6.55%;
    box-sizing: border-box;
    padding-bottom: 64px;
    font-size: 16px;
  }

  @media @desktop-width {
    padding-left: 19.56%;
    padding-right: 0;
  }
}

.order__set {
  .reset-fieldset();

  @media @tablet-width {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 6.55%;
    padding-right: 6.55%;
    box-sizing: border-box;
  }

  @media @desktop-width {
    padding-right: 0;
    padding-left: 9.82%;
    padding-right: 19.56%;
  }

  &--type {
    @media @tablet-width {
      padding-bottom: 30px;
    }
  }

  &--color {
    @media @tablet-width {
      padding-top: 60px;
      padding-bottom: 40px;
      background-color: @footer-bg;

      div {
        width: 37.4%;
        // margin-left: auto;
      }

      div:nth-child(even) {
        margin-left: auto;
      }
    }

    @media @desktop-width {
      padding-right: 16.34%;

      div {
        width: 22.78%;
        margin-left: 70px;
      }

      div:nth-of-type(3n) {
        width: 24.79%;
      }

      div:nth-of-type(4n) {
        margin-left: 112px;
      }

    }
  }

  &--user {
    @media @tablet-width {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 40px;

      div {
        width: 74.8%;
        margin-left: auto;
      }
    }

    @media @desktop-width {
      div {
        width: 86.31%;
      }
    }
  }

  &--phone {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @media @tablet-width {
      padding-top: 50px;
      padding-bottom: 25px;
      background-color: @footer-bg;
    }
  }

  &--mail {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @media @tablet-width {
      padding-bottom: 67px;
      background-color: @footer-bg;
    }
  }

  &--textarea {
    margin-bottom: 47px;

    @media @tablet-width {
      display: flex;
      justify-content: space-between;
      padding-top: 65px;
    }
  }

  input[type="radio"] {
    display: none;

    &:checked ~ .order__radio-controller::before {
      transform: scale(1);
      // background-color: @main-header;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked ~ .order__checkbox-controller::before {
      transform: scale(1);
      // opacity: 1;
    }
  }

  input[type="radio"] + label,
  input[type="checkbox"] + label {
    padding-left: 23px;
  }

  ::-webkit-input-placeholder {
    color: @form-placeholder;
  }
}

.order__set-title {
  margin-bottom: 25px;
  color: @main-header;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;

  &--type {
    @media @tablet-width {
      width: 5.23%;
    }

    @media @desktop-width {
      width: auto;
    }
  }

  @media @mobile-width-only {
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      left: 60px;
      height: 1px;
      background-color: @main-header;

    }
  }

  @media @tablet-width {
    align-self: flex-start;
    padding-top: 18px;
    margin-bottom: 0;
  }

  &--margin-small {
    margin-bottom: 5px;
  }

  &--additional-information {
    margin-bottom: 30px;
  }

  &--mail {
    @media @mobile-width-only {
      &::before {
        left: 80px;
      }
    }

    @media @tablet-width {
      // align-self: flex-start;
      // margin-top: 19px;
      margin-bottom: 0;
    }
  }
}

.order__set-item {
  display: flex;
  align-items: center;
  padding-bottom: 22px;

  &:last-of-type {
    padding-bottom: 32px;

    @media @tablet-width {
      padding-bottom: 22px;
    }
  }

  &:hover .order__checkbox-controller,
  &:hover .order__radio-controller {
    border-color: @main-header;
  }

  &:active .order__checkbox-controller,
  &:active .order__radio-controller {
    border-color: #cdcdcd;
  }

  &--accessory {
    @media @tablet-width {
      width: 52.4%;
      margin-left: 19.9%;
      margin-right: auto;
    }

    @media @desktop-width {
      width: 43.1%;
      margin-left: 10%;
    }
  }

  &--toys {
    @media @tablet-width {
      width: 52.4%;
      margin-left: 25%;
      margin-right: auto;
    }

    @media @desktop-width {
      width: 43.1%;
      margin-left: 14.03%;
    }
  }
}

.order__name-item {
  display: flex;
  flex-direction: column;

  @media @tablet-width {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
}

.order__text-field {
  border: none;
  outline: none;
  padding-top: 16px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000000;
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
  line-height: 20px;

  @media @tablet-width {
    font-size: 18px;
    margin-bottom: 0;
    width: 71.94%;
    padding-left: 3.6%;
  }

  @media @desktop-width {
    width: 79.57%;
  }

  &:hover {
    border-color: @main-header;
  }

  &:hover + .order__icon-phone {
    fill: @main-header;
  }

  &:hover + .order__icon-mail {
    fill: @main-header;
  }

  &:focus {
    border-color: @main-header;
  }

  &:focus + .order__icon-phone {
    fill: @main-header;
  }

  &:focus + .order__icon-mail {
    fill: @main-header;
  }

  &--error {
    border-color: #f0b1b1;
  }

  &--name {
    @media @tablet-width {
      width: 82%;
    }

    @media @desktop-width {
      width: 87%;
    }
  }

  &--patronymic {
    margin-bottom: 35px;
  }

  &--email {
    margin-bottom: 35px;
    padding-right: 42px;
    flex-grow: 1;
    position: relative;

    @media @tablet-width {
      flex-grow: 0;
      width: 63.5%;
      padding-left: 2.69%;
      padding-right: 8.83%;
      margin-left: auto;
      background-color: @footer-bg;
    }

    @media @desktop-width {
      width: 79.13%;
      padding-right: 41px;
    }
  }

  &--phone {
    margin-bottom: 35px;
    padding-right: 38px;
    flex-grow: 1;

    @media @tablet-width {
      flex-grow: 0;
      width: 64%;
      padding-left: 2.69%;
      padding-right: 8.38%;
      margin-left: auto;
      background-color: @footer-bg;
    }

    @media @desktop-width {
      width: 79.5%;
      padding-right: 4.69%;
    }
  }
}

.order__item-label {
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;

  @media @tablet-width {
    font-size: 18px;
  }

  &--accessory {
    @media @mobile-width-only {
      width: 200px;
      line-height: 18px;
    }
  }

  &--name {
    line-height: 18px;
  }
}

.order__textarea {
  padding: 15px;
  color: @form-placeholder;
  font-family: Verdana, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  border: 2px solid #202020;
  outline: none;
  resize: none;
  width: 100%;
  height: 150px;
  box-sizing: border-box;

  @media @tablet-width {
    width: 75%;
  }

  @media @desktop-width {
    width: 86.41%;
  }

  &:hover {
    border-color: @main-header;
  }

  &:focus {
    color: @featured-desc;
    border-color: @main-header;
  }

  &--error {
    border-color: #f0b1b1;
  }
}

.order__radio-controller {
  position: relative;
  order: -1;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #2d2d2d;
  border-radius: 50%;
  flex-shrink: 0;

  @media @tablet-width {
    width: 52px;
    height: 52px;
  }

  &:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: @main-header;
    transform: scale(0);
    transition: transform 0.25s;
    // transition: background-color 0.25s linear;

    @media @tablet-width {
      width: 21px;
      height: 21px;
      margin-top: -10.5px;
      margin-left: -10.5px;
    }
  }
}

.order__checkbox-controller {
  position: relative;
  order: -1;
  width: 41px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #2d2d2d;
  flex-shrink: 0;

  @media @tablet-width {
    width: 54px;
    height: 52px;
  }

  &:before {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -9px;
    width: 22px;
    height: 17px;
    background-image: url("../../img/checkbox-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: scale(0);
    transition: transform 0.25s;
    // opacity: 0;
    // transition: opacity 0.25s linear;

    @media @tablet-width {
      width: 33px;
      height: 22px;
      margin-top: -11px;
      margin-left: -16.5px;
    }
  }
}

.order__icon-mail {
  position: absolute;
  top: 35px;
  right: 4px;
  fill: #cccccc;

  @media @tablet-width {
    top: 10px;
    right: 9.37%;
  }

  @media @desktop-width {
    right: 20%;
  }
}

.order__icon-phone {
  position: absolute;
  top: 38px;
  right: 8px;
  fill: #cccccc;

  @media @tablet-width {
    top: 63px;
    right: 9.89%;
  }

  @media @desktop-width {
    right: 20.26%;
  }
}

.order__memo {
  display: none;

  @media @tablet-width {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
  }
}

.order__flex-container {


  @media @tablet-width {
    padding-left: 6.5%;
    padding-right: 6.5%;
    display: flex;
    justify-content: space-between;
  }

  @media @desktop-width {
    padding-left: 19.36%;
    padding-right: 19.56%;
  }
}



