@import "../variables.less";

.page-footer__wrap {
  .wrapper();
}

.page-footer {
  background-color: @footer-bg;
}

.page-footer__developer-title {
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}
