
.page-header {
  @media @tablet-width {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 88px;
      width: 100%;
      height: 1px;
      background-color: @main-nav-border;
    }
  }
}

.page-header__wrapper {
  .container-fluid();
}
