@import "../mixins.less";

.page-header {
  .container();
}

.page-header__logo {
  .wrapper();
  padding-top: 22px;
  padding-bottom: 22px;

  img {
    display: block;
    width: 86px;
    height: 35px;
    margin: 0 auto;
  }
}

.page-header__wrap {
  .wrapper();
}
