@import "../variables.less";

body {
  color: @featured-desc;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
}

// svg:first-of-type {
//   display: none;
// }

img {
  width: 100%;
  height: auto;
}
